* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  background-color: #cefafe;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 55%;

  background-color: #fff;
  margin: 5% auto;
  padding: 3%;
}
.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 5%;
}
.question {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}
.question-answer {
  border: 2px solid #e2e8f0;
  border-radius: 3px;
  padding: 3% 5%;
  margin-bottom: 3%;
  box-shadow: 0px 8px 5px 1px rgba(219, 219, 219, 0.48);
  -webkit-box-shadow: 0px 8px 5px 1px rgba(219, 219, 219, 0.48);
  -moz-box-shadow: 0px 8px 5px 1px rgba(219, 219, 219, 0.48);
}
.question p {
  font-weight: 500;
  font-size: 1.25rem;
}
.answer {
  display: none;
  font-weight: 500;
  font-size: 1rem;
}
.fa-minus {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 0.7rem;
  cursor: pointer;
  background-color: #174f63;
  padding: 5px;
  height: 20px;
  padding-bottom: 23px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 50%;
}
.fa-plus {
  position: relative;
  color: #fff;
  font-size: 0.7rem;
  cursor: pointer;
  background-color: #174f63;
  padding: 5px;
  height: 20px;
  padding-bottom: 23px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 50%;
}

.hide {
  display: none;
}
p {
  color: #303741;
}
